<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.android.ads.mediationtestsuite" >

    <uses-sdk android:minSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:supportsRtl="true" >
        <activity
            android:name="com.google.android.ads.mediationtestsuite.activities.HomeActivity"
            android:exported="false"
            android:label="Mediation Test Suite"
            android:screenOrientation="portrait"
            android:theme="@style/gmts_TestSuiteTheme.NoActionBar" />
        <activity
            android:name="com.google.android.ads.mediationtestsuite.activities.NetworkDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/gmts_AppSecondaryTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.google.android.ads.mediationtestsuite.activities.ConfigurationItemDetailActivity"
            android:exported="false"
            android:label="@string/gmts_ad_unit_details_title"
            android:screenOrientation="portrait"
            android:theme="@style/gmts_AppSecondaryTheme.NoActionBar" />
        <activity
            android:name="com.google.android.ads.mediationtestsuite.activities.ConfigurationItemsSearchActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/gmts_AppSecondaryTheme.NoActionBar" />
    </application>

</manifest>